body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    margin: 0;
    padding: 0 450px 0 450px;
    background-color: #1F2937;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 100px;
    color: #F9FAF8;
    gap: 48px;
}

.left-stuff {
    max-width: 400px;
}

#main-text {
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.links{
    gap: 24px;
    padding-top: 8px;
}

.logo {
    padding-top: 24px;
    font-weight: bold;
    display: flex;
    color: white

}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 8px 24px 8px 24px;;
}

#header-button {
    border: none;
}

#header-subtext {
    padding: 0 0 10px;
}

.white {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#info {
    font-weight: bold;
    font-size: 36px;
    padding: 56px
}

.imageblocks{
    display: flex;
    gap: 36px;
    text-align: center;
    padding-bottom: 100px;
}

#image {
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.text {
    display: flex;
    text-align: center;
    max-width: 150px;
}

.gray {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    margin: 0;
    padding: 100px;
}

.quote {
    text-align: right;
}

#quote-content {
    font-size: 36px;
    color: #1F2937;
    max-width: 825px;
    text-align: left;
}

#quote-author {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 100px;
}

.callcontent {
    display: flex;
    margin: 0;
    padding: 24px 130px 24px 130px;
    background-color: #3882F6;
    color: #F9FAF8;
    gap: 100px;
    border-radius: 8px;
}

#text-call {
    font-weight: bold;
}

#sign-up-button {
    border-color: #F9FAF8;
    border-style: solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 40px;
    background-color: #1F2937;
    color: white;
}